.animallist{
    border-style: double;
    border-color:green;
    border-right-width:3px;
    border-bottom-width:4px;
    border-top-width:1px;
    border-left-width:1px;
    border-top-style:dotted;
    border-left-style:dashed;
    border-radius:15px;
    padding-left:10px;
    margin-bottom:10px;
}