.flex-box{
    display:flex;
    margin-top:50px;
    }
    .search{
      flex:1;
    }
    ul{
    position:-webkit-sticky;
    position:sticky;
    top: 0;
    align-self: flex-start;
    border-right:2px dotted black;
    border-bottom: 2px double grey;
    display:inline-block;
    padding-right: 10px;
    padding-bottom:10px;
    border-radius:15px;
    box-shadow:-2px -2px 4px rgb(176, 172, 172);
    margin-left:5px;
    
    }
    .results{
    
    flex:2;
    margin-left: 10px;
    padding-left: 10px;
    }
    li{
    list-style:none;
    }
    .content{
    flex:2;
    margin-left: 10px;
    padding-left: 10px;
    }
    .animalnames{
    font-weight:bold;
    font-size:1.2em;
    }
    .searchtitles{
    font-size:1.02em;
    font-weight: bold;
    }
    .contentcard{
      display:inline-block;
      border:2px solid black;
      padding-left: 10px;
      padding-right: 10px;
      border-radius:15px;
      width:auto;
      position:fixed;
      word-wrap: normal;
    }