.navbar{
  height: 3em;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color:rgb(117, 167, 255);

}

.left-section, .right-section{
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-left: 10px;
  margin-right: 10px;
}

